<%= form_tag search_results_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
  <div class="form-group">
      <%= search_field_tag :query_str, nil, size: 40, type: "text", class: "form-control", placeholder: "Search..." %>
  </div>
    <%= button_tag "Go", name: 'search_result', url: '/search_results', class: "btn btn-default" %>
<% end %>
